{% extends "layout.html" %}

{% block header %}Welcome To The Book Review {% endblock %}

{% block body %}

<h1>Register</h1>
<p>{{registration_error}}</p>
<p>
    Please Enter Your Information To Register!
</p>
<div class="d-block p-3 m-auto bg-info">
    <fieldset>
        <legend>Register</legend>
        <form action="{{ url_for('submit_registration')}}" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button>Submit</button>
        </form>
    </fieldset>
</div>

{% endblock %}
