{% extends "layout.html" %}

{% block header %}Welcome To The Book Review{% endblock %}

{% block body %}


<h1>Hi {{name}}!</h1>
<p>
This application will allow you to leave reviews of any book in the database.
It dynamically generates pages allows the user to post reveiws to its database. It also displays some info from the goodreads api.
</p>
<p>
The searchbar will query a SQL database hosted on Heroku. The searches are protected from SQL injection with SQLAchelmy.
The search will produce complete and partial matches for author, title, isbn, and year. It is not case-sensitive.
</p>
<p>
   The username defaults to anonymous, but register or login to make your own account.
   The registration process hashes the passwords using the werkzeug.security plugin.
  </p>
<p>
  The app also contains a feature which outputs JSON data for the given book by ISBN.
  To see this just search http://162.243.172.246:5000/api/$ISBN where $ISBN is the books ISBN.
  </p>

<h4>Search in the upper right corner, or checkout this list of the most recent reviews</h4>
<h5> (click on the link to see the book review page).</h5>

<ul class="list-group">
    {% for result in searches %}
    <li class="list-group-item">
        <div class="containter">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('mybooks', id = result.bookid) }}">
                        {{result.review}}
                    </a>
                </div>
                <div class="col">
                    {{result.stars}}
                </div>
                <div class="col">
                    {{result.bookid}}
                </div>
                <div class="col">
                    {{result.username}}
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
